<div>
    <section id="beer">
        <img id="beerImg" src="/images/beer.png" />
    </section>
    <section id="clickButtons">
        <a id="check-beer" href="/beers">Check the Beers!</a>
        <br/>
        <a id="randomBeer" href="/random-beer">Check a Random Beer!</a>
    </section>
</div>