/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
#beerImg {
    width: 20%;
}
#beer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
#clickButtons a {
    text-decoration: none;
    color: white;
    background-color: #2081C3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
#clickButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
nav {
    width: 100vw;
    background-color: #2081C3;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-bar-ul a {
    text-decoration: none;
    color: white;
}
.nav-bar-ul {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    list-style: none;
}
.beers-foreach img {
    width: 100px;
}
#randomBeerImg {
    height: 100px;
    margin-left: 100px;
    margin-top: 50px;
}
.randomBeerpage {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}
#randomBeerTextline {
    margin-top: 20px;
}
#foodPairing {
    list-style: circle;
}